# Import semua library dan data

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, read_csv

# import StemmerFactory class
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

file = open("./AIR_PANAS_BANJAR.csv")
df = pd.read_csv(file)
df = pd.DataFrame(data = df)
df.head()

,objek,nama,ulasan,rating,title,label
0,air panas banjar,Harishna,Salah satu Tempat pemandian air panas di singa...,4,Lumayan,1
1,air panas banjar,ipapwirawan,Wajib dikunjungi jika sedang berada disekitar ...,4,Recommended,1
2,air panas banjar,wayanputrada,Tempat wisata ini cocok untuk refreshing dan b...,4,Tempat Untuk Bersantai,1
3,air panas banjar,Sudarta M,pemandangan di sekitar air panas banjar masih ...,5,natural hot spring,1
4,air panas banjar,parwatha,Datanglah ke airpanas banjar..sebelum mandi co...,4,Nikmati kopi sambil melihat kolam,1

In [2]:
df = df[['objek','ulasan','label']]
df.head()

              objek                                             ulasan  label
0  air panas banjar  Salah satu Tempat pemandian air panas di singa...      1
1  air panas banjar  Wajib dikunjungi jika sedang berada disekitar ...      1
2  air panas banjar  Tempat wisata ini cocok untuk refreshing dan b...      1
3  air panas banjar  pemandangan di sekitar air panas banjar masih ...      1
4  air panas banjar  Datanglah ke airpanas banjar..sebelum mandi co...      1

In [3]:
df['ulasan'] = df['ulasan'].str.lower()
df.head()

              objek                                             ulasan  label
0  air panas banjar  salah satu tempat pemandian air panas di singa...      1
1  air panas banjar  wajib dikunjungi jika sedang berada disekitar ...      1
2  air panas banjar  tempat wisata ini cocok untuk refreshing dan b...      1
3  air panas banjar  pemandangan di sekitar air panas banjar masih ...      1
4  air panas banjar  datanglah ke airpanas banjar..sebelum mandi co...      1

In [4]:
import re
df['ulasan'] = df['ulasan'].apply(lambda x : re.sub(r"(?:{})|([^\w\s.]+|_+)",'',x))#remove selain titik seperti underscore
df['ulasan'] = df['ulasan'].apply(lambda x : re.sub(r'[^\w\s]',' ',x))
df.head()

              objek                                             ulasan  label
0  air panas banjar  salah satu tempat pemandian air panas di singa...      1
1  air panas banjar  wajib dikunjungi jika sedang berada disekitar ...      1
2  air panas banjar  tempat wisata ini cocok untuk refreshing dan b...      1
3  air panas banjar  pemandangan di sekitar air panas banjar masih ...      1
4  air panas banjar  datanglah ke airpanas banjar  sebelum mandi co...      1

In [5]:
# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# stemming process
#output   = stemmer.stem(sentence)
df['stemming'] = df['ulasan'].apply(lambda x : stemmer.stem(x))
df.head()

,objek,ulasan,label,stemming
0,air panas banjar,salah satu tempat pemandian air panas di singa...,1,salah satu tempat mandi air panas di singaraja...
1,air panas banjar,wajib dikunjungi jika sedang berada disekitar ...,1,wajib kunjung jika sedang ada sekitar singaraj...
2,air panas banjar,tempat wisata ini cocok untuk refreshing dan b...,1,tempat wisata ini cocok untuk refreshing dan s...
3,air panas banjar,pemandangan di sekitar air panas banjar masih ...,1,pandang di sekitar air panas banjar masih asri...
4,air panas banjar,datanglah ke airpanas banjar sebelum mandi co...,1,datang ke airpanas banjar belum mandi coba dul...

In [6]:
df['token'] = df['ulasan'].apply(lambda x : x.split())
df.head()

,objek,ulasan,label,stemming,token
0,air panas banjar,salah satu tempat pemandian air panas di singa...,1,salah satu tempat mandi air panas di singaraja...,"[salah, satu, tempat, pemandian, air, panas, d..."
1,air panas banjar,wajib dikunjungi jika sedang berada disekitar ...,1,wajib kunjung jika sedang ada sekitar singaraj...,"[wajib, dikunjungi, jika, sedang, berada, dise..."
2,air panas banjar,tempat wisata ini cocok untuk refreshing dan b...,1,tempat wisata ini cocok untuk refreshing dan s...,"[tempat, wisata, ini, cocok, untuk, refreshing..."
3,air panas banjar,pemandangan di sekitar air panas banjar masih ...,1,pandang di sekitar air panas banjar masih asri...,"[pemandangan, di, sekitar, air, panas, banjar,..."
4,air panas banjar,datanglah ke airpanas banjar sebelum mandi co...,1,datang ke airpanas banjar belum mandi coba dul...,"[datanglah, ke, airpanas, banjar, sebelum, man..."

In [7]:
df['token'][1]

['wajib',
 'dikunjungi',
 'jika',
 'sedang',
 'berada',
 'disekitar',
 'singaraja',
 'bagian',
 'barat',
 'tiket',
 'masuknya',
 'sangat',
 'terjangkau',
 'pilihan',
 'kolamnya',
 'sangat',
 'banyak',
 'air',
 'panasnya',
 'alami']

wajib kunjung jika sedang ada sekitar singaraja bagi barat tiket masuk sangat jangkau pilih kolam sangat banyak air panas alami

In [30]:
import re, string
regex = re.compile('[%s]'% re.escape(string.punctuation))
def remove_punctuation(s):
    return regex.sub('', s)

In [31]:
df["new_column"] = df['ulasan'].str.replace('[^\w\s]','')

In [32]:
df.head()

,objek,ulasan,label,new_column
0,air panas banjar,salah satu tempat pemandian air panas di singa...,1,salah satu tempat pemandian air panas di singa...
1,air panas banjar,wajib dikunjungi jika sedang berada disekitar ...,1,wajib dikunjungi jika sedang berada disekitar ...
2,air panas banjar,tempat wisata ini cocok untuk refreshing dan b...,1,tempat wisata ini cocok untuk refreshing dan b...
3,air panas banjar,pemandangan di sekitar air panas banjar masih ...,1,pemandangan di sekitar air panas banjar masih ...
4,air panas banjar,datanglah ke airpanas banjar..sebelum mandi co...,1,datanglah ke airpanas banjarsebelum mandi coba...

In [3]:
import pandas as pd
dk = pd.read_csv(open('AIR_PANAS_BANJAR.csv'))
dk.head()

,objek,nama,ulasan,rating,title,label
0,air panas banjar,Harishna,Salah satu Tempat pemandian air panas di singa...,4,Lumayan,1
1,air panas banjar,ipapwirawan,Wajib dikunjungi jika sedang berada disekitar ...,4,Recommended,1
2,air panas banjar,wayanputrada,Tempat wisata ini cocok untuk refreshing dan b...,4,Tempat Untuk Bersantai,1
3,air panas banjar,Sudarta M,pemandangan di sekitar air panas banjar masih ...,5,natural hot spring,1
4,air panas banjar,parwatha,Datanglah ke airpanas banjar..sebelum mandi co...,4,Nikmati kopi sambil melihat kolam,1

In [4]:
dk['ulasan'][1]

'Wajib dikunjungi jika sedang berada disekitar Singaraja Bagian Barat, tiket masuknya sangat terjangkau, pilihan kolamnya sangat banyak. Air panasnya alami.'

In [9]:
dk['ulasan'][1].lower()

'wajib dikunjungi jika sedang berada disekitar singaraja bagian barat, tiket masuknya sangat terjangkau, pilihan kolamnya sangat banyak. air panasnya alami.'

In [3]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

In [21]:
s = 'Datanglah ke airpanas ^_^  #@banjar..sebelum mandi coba dulu segelas kopi bali dengan pisang gorengnya atau fried banana...berbagai menu ada..makanan dan minuman..lets go'

import re
s = re.sub(r"(?:{})|([^\w\s.]+|_+)",'',s)#remove selain titik seperti underscore
s = re.sub(r'[^\w\s]',' ',s)#remove titik
print(s)

Datanglah ke airpanas   banjar  sebelum mandi coba dulu segelas kopi bali dengan pisang gorengnya atau fried banana   berbagai menu ada  makanan dan minuman  lets go

In [12]:
import re
from collections import Counter

def words(text): return re.findall(r'\w+', text.lower())

WORDS = Counter(words(open('dataKata.txt').read()))

def P(word, N=sum(WORDS.values())): 
    # "Probability of `word`."
    return WORDS[word] / N

def correction(word): 
    # "Most probable spelling correction for word."
    return max(candidates(word), key=P)

def candidates(word): 
    # "Generate possible spelling corrections for word."
    return (known([word]) or known(edits1(word)) or known(edits2(word)) or [word])

def known(words): 
    # "The subset of `words` that appear in the dictionary of WORDS."
    return set(w for w in words if w in WORDS)

def edits1(word):
    # "All edits that are one edit away from `word`."
    letters    = 'abcdefghijklmnopqrstuvwxyz'
    splits     = [(word[:i], word[i:])    for i in range(len(word) + 1)] # [('', 'kemarin'), ('k', 'emarin'), ('ke', 'marin'), dst]
    deletes    = [L + R[1:]               for L, R in splits if R] # ['emarin', 'kmarin', 'kearin', dst]
    transposes = [L + R[1] + R[0] + R[2:] for L, R in splits if len(R)>1] # ['ekmarin', 'kmearin', 'keamrin', dst]
    replaces   = [L + c + R[1:]           for L, R in splits if R for c in letters] # ['aemarin', 'bemarin', 'cemarin', dst]
    inserts    = [L + c + R               for L, R in splits for c in letters] # ['akemarin', 'bkemarin', 'ckemarin', dst]
    return set(deletes + transposes + replaces + inserts)

def edits2(word): 
    # "All edits that are two edits away from `word`."
    return (e2 for e1 in edits1(word) for e2 in edits1(e1))

kata = 'syg'
print('kata typo : ', kata)
print('koreksi : ', correction(kata))

kata typo :  syg
koreksi :  seg

In [18]:
from collections import Counter


WORDS = Counter(words(open('dataKata.txt').read()))

def P(word, N=sum(WORDS.values())): 
    # "Probability of `word`."
    return WORDS[word] / N

print(P('mkan'))
print(WORDS['mkan'])

0.0
0